services:
  codehouse:
    profiles: [production]
    image: codehouse:latest
    restart: unless-stopped
    env_file:
      - .env
    build:
      dockerfile: apps/codehouse/Dockerfile
      context: ../../
      secrets:
        - SENTRY_AUTH_TOKEN
        - TURBO_TOKEN
      args:
        NEXT_PUBLIC_API_URL: $NEXT_PUBLIC_API_URL
        NEXT_PUBLIC_ENV: $NEXT_PUBLIC_ENV
        NEXT_PUBLIC_SENTRY_ENABLED: $NEXT_PUBLIC_SENTRY_ENABLED
        TURBO_TEAM: $TURBO_TEAM
secrets:
  SENTRY_AUTH_TOKEN:
    file: ./secrets/SENTRY_AUTH_TOKEN.secret
  TURBO_TOKEN:
    file: ./secrets/TURBO_TOKEN.secret