services:
  codehouse:
    image: codehouse:latest
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.codehouse.rule=Host(`codehouse.sandercokart.com`)'
      - 'traefik.http.routers.codehouse.entrypoints=websecure'
      - 'traefik.http.routers.codehouse.tls.certresolver=myresolver'
    deploy:
      replicas: 1
    restart: unless-stopped
    secrets:
      - SENTRY_AUTH_TOKEN
      - TURBO_TOKEN
    env_file:
      - .env
    build:
      dockerfile: apps/codehouse/Dockerfile
      context: ../../
      secrets:
        - SENTRY_AUTH_TOKEN
        - TURBO_TOKEN
      args:
        NEXT_PUBLIC_API_URL: $NEXT_PUBLIC_API_URL
        NEXT_PUBLIC_ENV: $NEXT_PUBLIC_ENV
        SENTRY_ENABLED: $SENTRY_ENABLED
        TURBO_TEAM: $TURBO_TEAM
        SENTRY_AUTH_TOKEN: /run/secrets/SENTRY_AUTH_TOKEN
        TURBO_TOKEN: /run/secrets/TURBO_TOKEN
secrets:
  SENTRY_AUTH_TOKEN:
    file: ./secrets/SENTRY_AUTH_TOKEN.secret
  TURBO_TOKEN:
    file: ./secrets/TURBO_TOKEN.secret