# NextJS
**.next


# Laravel
**boost.json
**phpunit.xml
apps/api/public/storage
vendor

# Docker
**.dockerignore
**Dockerfile
**docker-compose.yml

# Editors
**.idea
**.vscode
**.cursor

# Git
**.git
**.gitignore
**.gitattributes

# Files
**.DS_Store
**.editorconfig
**.env*
**.github
**.md
**node_modules

# Secrets
apps/*/secrets