# NextJS
**.next

# Laravel
vendor
apps/api/public/storage

# Docker
**.dockerignore
**Dockerfile
**docker-compose.yml

# Editors
**.idea
**.vscode

# Git
**.git
**.gitignore

# Files
**.md
**node_modules
**.env*