services:
  api:
    ports:
      - 8080:8080
    volumes:
      - ./apps/api:/var/www/html
    build:
      target: development
  main:
    ports:
      - 3000:3000
  codehouse:
    ports:
      - 3001:3000
  db:
    ports:
      - 3306:3306
  redis:
    ports:
      - 6379:6379
