@import '@repo/ui/themes/sandercokart.com.css';

:root {
  --shiki-foreground: #24292e;
  --shiki-background: #ffffff;
  --shiki-token-constant: #0550ae;
  --shiki-token-string: #0a306b;
  --shiki-token-comment: #6e7781;
  --shiki-token-keyword: #cf222e;
  --shiki-token-parameter: #24292e;
  --shiki-token-function: #8250df;
  --shiki-token-string-expression: #24292e;
  --shiki-token-punctuation: #24292e;
  --shiki-token-link: #0550ae;
}

.dark {
  --shiki-foreground: #e6edf3;
  --shiki-background: #0d1117;
  --shiki-token-constant: #79c0ff;
  --shiki-token-string: #a5d6ff;
  --shiki-token-comment: #8b949e;
  --shiki-token-keyword: #ff7b72;
  --shiki-token-parameter: #d2a8ff;
  --shiki-token-function: #7ee787;
  --shiki-token-string-expression: #d2a8ff;
  --shiki-token-punctuation: #c9d1d9;
  --shiki-token-link: #58a6ff;
}

.line.highlighted {
  @apply bg-accent/20 -mx-6 inline-block w-full px-6;
  width: calc(100% + 32px);
}

/*
.line.highlighted {
  background-color: red;
}


html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}


Outputs: <span class="line focused">
The outer <pre> tag is modified: <pre class="has-focused">


.has-focused-lines .line:not(.has-focus) {
    filter: blur(0);
    opacity: 1
}


.vp-doc [class*=language-]:hover .has-focused-lines .line:not(.has-focus) {
    filter: blur(0);
    opacity: 1
}

pre {
  &:hover .has-focused .line:not(.focused) {
    filter: blur(0);
    opacity: 1;
  }

  &.has-focused {
    .line:not(.focused) {
      @apply opacity-40 blur-[2px];
      &.focused {
        @apply blur-none;
      }
    }
  }

  code {
    .line {
      @apply transition-[opacity,filter];
      counter-increment: line;
    }

    .line:not(:last-of-type)::before {
      content: counter(line);
      opacity: 0.4;
      padding-inline: 0.5em;
    }

     .line.highlighted {
      background-color: red;
    } 
  }
}
*/
