services:
  proxy:
    image: traefik:latest
    command:
      #- "--api.insecure=true"
      - "--certificatesresolvers.myresolver.acme.email=${TRAEFIK_ACME_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/certificates/acme.json"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker=true"
    environment:
      - CF_API_EMAIL=${TRAEFIK_ACME_EMAIL}
      - CF_DNS_API_TOKEN=/run/secrets/CF_API_TOKEN
    secrets:
      - CF_API_TOKEN
    ports:
      # The HTTP port
      - "80:80"
      # The HTTPS port
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      #- "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "certificates:/certificates"

secrets:
  CF_API_TOKEN:
    file: ./secrets/CF_API_TOKEN

volumes:
  certificates: