services:
    api:
        tty: true
        image: api:latest
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.api.rule=Host(`api.sandercokart.com`)'
            - 'traefik.http.routers.api.entrypoints=websecure'
            - 'traefik.http.routers.api.tls.certresolver=myresolver'
        env_file:
            - .env
        build:
            dockerfile: apps/api/Dockerfile
            context: ../../
            target: development
            args:
                USER_ID: 1000
                GROUP_ID: 1000
        restart: unless-stopped
        volumes:
            - .:/var/www/html
        depends_on:
            - db
            - redis
        environment:
            AUTORUN_ENABLED: false
    redis:
        restart: unless-stopped
        image: redis:alpine
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 30s
            timeout: 10s
            retries: 3
    db:
        secrets:
            - MARIADB_PASSWORD
            - MARIADB_ROOT_PASSWORD
            - MARIADB_USER
        restart: unless-stopped
        image: mariadb:latest
        environment:
            MARIADB_ROOT_PASSWORD_FILE: /run/secrets/MARIADB_ROOT_PASSWORD
            MARIADB_DATABASE: primary
            MARIADB_USER_FILE: /run/secrets/MARIADB_USER
            MARIADB_PASSWORD_FILE: /run/secrets/MARIADB_PASSWORD
    mailpit:
        restart: unless-stopped
        image: axllent/mailpit:latest
        ports:
            - 1025:1025
            - 8025:8025
secrets:
    MARIADB_PASSWORD:
        file: ./secrets/mariadb_password
    MARIADB_ROOT_PASSWORD:
        file: ./secrets/mariadb_root_password
    MARIADB_USER:
        file: ./secrets/mariadb_user
