services:
    api:
        image: api:latest
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.api.rule=Host(`api.sandercokart.com`)'
            - 'traefik.http.routers.api.entrypoints=websecure'
            - 'traefik.http.routers.api.tls.certresolver=myresolver'
        build:
            dockerfile: apps/api/Dockerfile
            context: ../../
            target: development
            args:
                USER_ID: 1000
                GROUP_ID: 1000
        restart: on-failure
        ports:
            - 8080:8080
        volumes:
            - .:/var/www/html
        depends_on:
            - db
            - redis
        environment:
            AUTORUN_ENABLED: true
    redis:
        restart: on-failure
        image: redis:latest
        ports:
            - 6379:6379
    db:
        restart: on-failure
        image: mariadb:latest
        ports:
            - 3306:3306
        environment:
            MARIADB_ROOT_PASSWORD_FILE: /run/secrets/MARIADB_ROOT_PASSWORD
            MARIADB_DATABASE: primary
            MARIADB_USER_FILE: /run/secrets/MARIADB_USER
            MARIADB_PASSWORD_FILE: /run/secrets/MARIADB_PASSWORD
    mailpit:
        restart: on-failure
        image: axllent/mailpit:latest
        ports:
            - 1025:1025
            - 8025:8025
secrets:
    MARIADB_PASSWORD:
        file: ./secrets/MARIADB_PASSWORD.txt
    MARIADB_ROOT_PASSWORD:
        file: ./secrets/MARIADB_ROOT_PASSWORD.txt
    MARIADB_USER:
        file: ./secrets/MARIADB_USER.txt
