services:
    api:
        tty: true
        image: 'api:latest'
        labels:
            - traefik.enable=true
            - traefik.http.routers.api.rule=Host(`api.sandercokart.com`)
            - traefik.http.routers.api.entrypoints=websecure
            - traefik.http.routers.api.tls.certresolver=myresolver
        env_file:
            - .env
        build:
            dockerfile: apps/api/Dockerfile
            context: ../../
            target: production
            args:
                USER_ID: ${USER_ID}
                GROUP_ID: ${GROUP_ID}
        restart: unless-stopped
        depends_on:
            - db
            - redis
        environment:
            AUTORUN_ENABLED: false
        secrets:
            - APP_KEY
            - source: MARIADB_USER
              target: DB_USERNAME
            - source: MARIADB_PASSWORD
              target: DB_PASSWORD
            - REDIS_PASSWORD
    redis:
        secrets:
            - REDIS_PASSWORD
        restart: unless-stopped
        image: 'redis:8.4-alpine'
        command: >
            sh -c "redis-server --requirepass \"$(cat /run/secrets/REDIS_PASSWORD)\""
        healthcheck:
            test: >
                sh -c "redis-cli -a \"$(cat /run/secrets/REDIS_PASSWORD)\" ping"
            interval: 30s
            timeout: 10s
            retries: 3
        volumes:
            - 'sail-redis:/data'
    db:
        secrets:
            - MARIADB_PASSWORD
            - MARIADB_ROOT_PASSWORD
            - MARIADB_USER
        restart: unless-stopped
        image: 'mariadb:11'
        environment:
            MARIADB_ROOT_HOST: '%'
            MARIADB_DATABASE: '${DB_DATABASE}'
            MARIADB_ROOT_PASSWORD_FILE: /run/secrets/MARIADB_ROOT_PASSWORD
            MARIADB_USER_FILE: /run/secrets/MARIADB_USER
            MARIADB_PASSWORD_FILE: /run/secrets/MARIADB_PASSWORD
        volumes:
            - 'sail-mariadb:/var/lib/mysql'
            - './vendor/laravel/sail/database/mariadb/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        healthcheck:
            test:
                - CMD
                - healthcheck.sh
                - '--connect'
                - '--innodb_initialized'
            retries: 3
            timeout: 5s
    mailpit:
        restart: unless-stopped
        image: 'axllent/mailpit:latest'
            
secrets:
    MARIADB_PASSWORD:
        file: ./secrets/MARIADB_PASSWORD.secret
    MARIADB_ROOT_PASSWORD:
        file: ./secrets/MARIADB_ROOT_PASSWORD.secret
    MARIADB_USER:
        file: ./secrets/MARIADB_USER.secret
    APP_KEY:
        file: ./secrets/APP_KEY.secret
    REDIS_PASSWORD:
        file: ./secrets/REDIS_PASSWORD.secret
volumes:
    sail-mariadb:
        driver: local
    sail-redis:
        driver: local

