services:
    api:
        profiles: [development, production]
        tty: true
        image: 'api:latest'
        env_file:
            - .env
        build:
            dockerfile: apps/api/Dockerfile
            context: ../../
            target: production
            args:
                USER_ID: ${USER_ID}
                GROUP_ID: ${GROUP_ID}
        restart: unless-stopped
        depends_on:
            - db
            - redis
        environment:
            AUTORUN_ENABLED: true
            HEALTHCHECK_PATH: /health
        healthcheck:
            test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/health"]
            interval: 30s
            timeout: 10s
            retries: 3
    redis:
        profiles: [development, production]
        restart: unless-stopped
        image: 'redis:8.4-alpine'
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 30s
            timeout: 10s
            retries: 3
        volumes:
            - 'redis-data:/data'
    db:
        profiles: [development, production]
        restart: unless-stopped
        image: 'mariadb:11'
        env_file:
            - .env
        environment:
            MARIADB_ROOT_HOST: '%'
            MARIADB_DATABASE: '${DB_DATABASE}'
            MARIADB_USER: '${DB_USERNAME}'
            MARIADB_PASSWORD: '${DB_PASSWORD}'
            MARIADB_ROOT_PASSWORD: '${DB_PASSWORD}'
        volumes:
            - 'mariadb-data:/var/lib/mysql'
            - './vendor/laravel/sail/database/mariadb/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        healthcheck:
            test:
                - CMD
                - healthcheck.sh
                - '--connect'
                - '--innodb_initialized'
            retries: 3
            timeout: 5s
    mailpit:
        profiles: [development]
        restart: unless-stopped
        image: 'axllent/mailpit:latest'
            
volumes:
    mariadb-data:
        driver: local
    redis-data:
        driver: local

